<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progetto MaDe</title>
    <link rel="stylesheet" href="navbar.component.css">
    <link rel="stylesheet" href="../../../../font.css">
    <link href="https://fonts.cdnfonts.com/css/impact" rel="stylesheet">
    
</head>

<body>
  <nav>
    <div class="wrapper">
      <div class="logo"><a routerLink="/home" routerLinkActive="active">Orientamento Rovereto Scuole Medie</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li> <a routerLink="/home" routerLinkActive="active" class="menu-link">Home</a></li>
        <li> <a routerLink="/info" routerLinkActive="active" class="menu-link">Info</a></li>

        <li>
          <a href="#" class="desktop-item">Istituti</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dropdown Menu</label>
          <ul class="drop-menu">
            <li><a routerLink="/tecnici" routerLinkActive="active">Tecnici</a></li>
            <li><a routerLink="/professionali" routerLinkActive="active">Professionali</a></li>
            <li><a routerLink="/licei" routerLinkActive="active">Licei</a></li>
          </ul>
        </li>
        
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>

</body>

</html>


 