<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progetto MaDe</title>
    <link rel="stylesheet" href="navbar.component.css">
    <link rel="stylesheet" href="../../../../font.css">
    <link href="https://fonts.cdnfonts.com/css/impact" rel="stylesheet">
    
</head>

<body>
  <nav>
    <div class="wrapper">
      <div class="logo"><a href="#">Orientamento Rovereto Scuole Medie</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li> <a routerLink="/home" routerLinkActive="active" class="menu-link">Home</a></li>
        <li> <a routerLink="/info" routerLinkActive="active" class="menu-link">Info</a></li>

        <li>
          <a href="#" class="desktop-item">Istituti</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="../../assets/nav-book.jpg" alt="book">
              </div>
              <div class="row">
                <header>Tecnici</header>
                <ul class="mega-links">
                  <li> <a routerLink="/tecnici/marconi" routerLinkActive="active" class="menu-link">ITT Marconi</a></li>
                  <li> <a routerLink="/tecnici/fontana" routerLinkActive="active" class="menu-link">ITET Fontana</a></li>
                  <li> <a routerLink="/tecnici/veronesi" routerLinkActive="active" class="menu-link">Polo Giuseppe Veronesi</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Professionali</header>
                <ul class="mega-links">
                  <li> <a routerLink="/professionali/donmilani" routerLinkActive="active" class="menu-link">Don Milani</a></li>
                  <li> <a routerLink="/professionali/barelli" routerLinkActive="active" class="menu-link">CFP Opera Armida Barelli</a></li>
                  <li> <a routerLink="/professionali/alberghiero" routerLinkActive="active" class="menu-link">Alberghiero</a></li>
                  <li> <a routerLink="/professionali/upt" routerLinkActive="active" class="menu-link">UPT</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Licei</header>
                <ul class="mega-links">
                  <li> <a routerLink="/licei/rosmini" routerLinkActive="active" class="menu-link">Liceo Antonio Rosmini</a></li>
                  <li> <a routerLink="/licei/filzi" routerLinkActive="active" class="menu-link">Scienze Umane F. Filzi</a></li>
                  <li> <a routerLink="/licei/depero" routerLinkActive="active" class="menu-link">Liceo Artistico Depero</a></li>
                  <li> <a routerLink="/licei/arcivescovile" routerLinkActive="active" class="menu-link">Arcivescovile</a></li>
                  <li> <a routerLink="/licei/steam" routerLinkActive="active" class="menu-link">Steam International</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>

</body>

</html>


 