

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progetto MaDe</title>
    
</head>
<body>
    <app-navbar></app-navbar>
    
        <!--------------Professionali-------------->
    <div class="container">
        <hr class="hr-text" data-content="Professionali">

        <div class="row">
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraProfessionali.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
            </div>
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraProfessionali.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
            </div>
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraProfessionali.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
            </div>
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraProfessionali.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
              </div>
          </div>          
          <br><br><br>
          <!--------------Tecnici-------------->

        <hr class="hr-text" data-content="Tecnici">

        <div class="row">
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraTecnici.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
            </div>
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraTecnici.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
            </div>
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraTecnici.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
            </div>
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraTecnici.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
              </div>
          </div> 
          <br><br><br>

          <!--------------LICEI-------------->
        <hr class="hr-text" data-content="Licei">

        <div class="row">
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraLiceo.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
            </div>
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraLiceo.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
            </div>
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraLiceo.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
            </div>
            <div class="column">
                <a routerLink="/professionali" routerLinkActive="active"><img src="assets/FinestraLiceo.png" alt="Snow" style="width:70%"></a>
                <p>Lorem Ipsum</p>
              </div>
          </div> 

      </div>


</body>
</html>



